.aman
{
  background-color: hsl(68, 32%, 56%);
  border: 2px solid hsl(68, 32%, 46%);
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 2px bisqueque;
  width: 300px;
  text-align: center;
}
.hi{
  background-color:  hsl(0, 30%, 50%);
  border: 2px spolid hsl(0, 30%, 40%);
  border-radius: 8px;
  margin: 20px;
  padding: 10px;
  width: 380px;
};

.aman:hover{
  background-color: hsla(88, 81%, 39%, 0.221);
  cursor: pointer;
};
  