.ghop{
    padding: 20px;
    background-color: aquamarine;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    text-shadow: 1px 1px  hsl(180, 88%, 13%);
}
.ghop:hover {
    background-color: hsl(180, 88%, 13%);
    color: aquamarine;
}
.ghop img{
    border-radius: 100%;
    width: 150px;
    height: 150px;
}