.student{
  border: 1px solid brown;
  padding: 10px;
  margin: 10px;
  background-color: #eac4c4;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
  
  box-shadow: 2px 2px 5px rgba(88, 63, 63, 0.393);
  height: 250px;
  width: 150px;
  text-align: center;
  
}
.student .hi{
  font-weight: bold;
}
.student:hover{
  background-color: gray;
  box-shadow: hsl(10, 57%, 35%);
  animation-iteration-count: infinite;
  animation: backwards 2s;
}

.student img{
  align-content: center;
  border: 1px solid black;
  border-radius: 50%;
}